/MJPEG/mjpeg-decoder-c#.sublime-project
/MJPEG/mjpeg-decoder-c#.sublime-workspace
/MJPEG/MjpegProcessor/obj
/MJPEG/MjpegProcessor/bin
/MJPEG/MjpegProcessorTestWinForms/bin
/MJPEG/MjpegProcessorTestWinForms/obj
